{% extends 'webapp/base.html'%}

{% load crispy_forms_tags %}
{% block content %}
    <body>
        <div class="container bg-light shadow-md p-5 form-layout">
                <h2>Register</h2>
                <h5>start managing your clients</h5>
                <hr>
                <br>
                <form method="post" autocomplete="off">
                    {% csrf_token %}
                    {{ form.username|as_crispy_field }}
                    {{ form.password1|as_crispy_field }}
                    {{ form.password2|as_crispy_field }}
                    <br>
                    <button type="submit" class="btn btn-primary w-100 btn-block p-2"><i class="fa fa-user" aria-hidden="true"></i> &nbsp; Register</button>
                </form>

                <br>
                <div class="text-center">
                   <p>Already have an account? </p> <a href="{% url 'login'%}"> <i class="fa fa-user-circle-o" aria-hidden="true"></i> &nbsp;Login</a>
                </div>
                <br>
        </div>
    </body>
            
{% endblock %}